head
  meta(charset='utf-8')
  title Scoreboard
  link(rel='stylesheet', href='../public/css/app.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

h1 control panel

h3 Teams
label(for='country1') Country 1
input(type='text', name='country1')
a(href='#') submit
label(for='country2') Country 2
input(type='text', name='country2')
a(href='#') submit

h3 Score
.controls
  a.min(href='#') -
  p.qty 0
  a.plus(href='#') +
.controls
  a.min(href='#') -
  p.qty 0
  a.plus(href='#') +

h3 Total shots
.controls
  a.min(href='#') -
  p.qty 0
  a.plus(href='#') +
.controls
  a.min(href='#') -
  p.qty 0
  a.plus(href='#') +

h3 Fouls
.controls
  a.min(href='#') -
  p.qty 0
  a.plus(href='#') +
.controls
  a.min(href='#') -
  p.qty 0
  a.plus(href='#') +
  
h3 Live Updates
input(type='text', name='updates')
a(href='#') submit
