head
  meta(charset='utf-8')
  title Scoreboard
  link(rel='stylesheet', type='text/css', href='../public/css/app.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
h1 Control Panel
h3 Teams
.teams__flexbox
  label.teams__label(for='country1') Team 1
  input.teams__input(type='text', name='country1')
  a.sbmtbutton(href='#') submit
.teams__flexbox
  label.teams__label(for='country2') Team 2
  input.teams__input(type='text', name='country2')
  a.sbmtbutton(href='#') submit
.space  
h3 Score
.controls
  h4.controls__team Team 1
  a.controls__min(href='#') -
  p.controls__aantal 0
  a.controls__plus(href='#') +
.controls
  h4.controls__team Team 2
  a.controls__min(href='#') -
  p.controls__aantal 0
  a.controls__plus(href='#') +
.space  
h3 Total shots
.controls
  h4.controls__team Team 1
  a.controls__min(href='#') -
  p.controls__aantal 0
  a.controls__plus(href='#') +
.controls
  h4.controls__team Team 2
  a.controls__min(href='#') -
  p.controls__aantal 0
  a.controls__plus(href='#') +
.space  
h3 Fouls
.controls
  h4.controls__team Team 1
  a.controls__min(href='#') -
  p.controls__aantal 0
  a.controls__plus(href='#') +
.controls
  h4.controls__team Team 2
  a.controls__min(href='#') -
  p.controls__aantal 0
  a.controls__plus(href='#') +
.space  
h3 Live Updates
.updates__flexbox
  input.updates__input(type='text', name='updates')
  a.sbmtbutton(href='#') submit