html(lang='en')
  head
    meta(charset='utf-8')
    title Scoreboard
    link(rel='stylesheet', href='../css/app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    section.teams
      h2 Belgium
      h3 2
      p -
      h3 0
      h2 Brazil
    section
      div
        p 10
        p total shots
        p 4
      div
        p 2
        p fouls
        p 3
    section
      p 33' - Goal by Dries Mertens
      p 50' - Foul by Denis Glushakov
