extends layout

block content
  body
    section.team
      h2 Belgium
      h1 2
      h1 -
      h1 0
      h2 Brazil
    .space  
    section.info
      .info__shots
        h2.info--team1 10
        h2 total shots
        h2.info--team2 4
      .info__fouls
        h2.info--team1 2
        h2.fouls__h2 fouls
        h2.info--team2 3
    .space  
    section.updates
      p.updates__p 33' - Goal by Dries Mertens
      p.updates__p 50' - Foul by Denis Glushakov
