html(lang='en')
  head
    meta(charset='utf-8')
    title Scoreboard
    link(rel='stylesheet', href='../public/css/app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    section.team
      h2 Belgium
      h3 2
      p -
      h3 0
      h2 Brazil
    section.info
      div
        p 10
        h2 total shots
        p 4
      div
        p 2
        h2 fouls
        p 3
    section.updates
      p 33' - Goal by Dries Mertens
      p 50' - Foul by Denis Glushakov
