html(lang='en')
  head
    meta(charset='utf-8')
    title Scoreboard
    link(rel='stylesheet', type="text/css", href='/css/app.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  
    block content

    script(src='/javascripts/primuslib.js')
    script(src='/javascripts/app.js')

