.updates__input, .teams__input {
  border-radius: 10px;
  padding: 7px;
  margin: 5px; }

.teams__label {
  font-weight: 550;
  margin-right: 5px; }

h2 {
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center; }

h1 {
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif; }

h3 {
  text-transform: uppercase;
  font-family: sans-serif; }

p {
  text-align: center; }

.info--team1 {
  color: lightcoral;
  font-family: sans-serif; }

.info--team2 {
  color: lightgreen;
  font-family: sans-serif; }

.sbmtbutton {
  text-decoration: none;
  color: white;
  background-color: #52bcfd;
  border-radius: 10px;
  padding: 6px;
  font-family: sans-serif; }

.controls {
  display: flex;
  justify-content: space-around;
  height: 48px; }

.controls__min, .controls__plus {
  display: inline-block;
  padding: 2px 10px;
  border: 1px solid #2881b8;
  color: #2881b8;
  text-decoration: none;
  margin: 5px;
  margin-top: 15px;
  padding-bottom: 5px; }

.controls__team {
  margin-right: 10px; }

body {
  font-family: "Arial, Helvetica, sans-serif";
  margin-top: 40px;
  display: grid;
  grid-template-rows: 30% 30% 30%;
  justify-items: center;
  grid-gap: 10px; }

.team, .info__shots, .info__fouls, .updates__p {
  display: flex;
  flex-direction: row; }

.space {
  display: block;
  background-color: lightgrey;
  height: 1px;
  width: 90%; }

.info__fouls {
  margin-left: 55px; }
