h2
{
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

h1
{
    margin-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2em;
    font-weight: bold;
    font-family: $font-second;
}

h3
{
    text-transform: uppercase;
    font-family: $font-second;
}

p
{
    text-align: center;
}

.info--team1
{
    color: lightcoral;
    font-family: $font-second;
}

.info--team2
{
    color: lightgreen;
    font-family: $font-second;
}